@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
}
.blue-line {
  border: none;
  height: 2px;
  background-color: #1743e3;
  width: 80%;
  margin: 20px auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 8%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #eaeaea;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.logo {
  font-size: 25px;
  color: #222;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: #222;
  text-decoration: none;
  font-weight: 600;
  margin: 0 20px;
}

.navbar a:hover {
  color: #1743e3;
  border-bottom: 2px solid #1743e3;
}
.navbar a.active {
  color: #1743e3;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 40px;
}

.social-media a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  text-decoration: none;
  transform:  rotate(45deg);
}

.social-media a:hover {
  border-color: #1743e3;
}

.social-media a i {
  font-size: 24px;
  color: #1743e3;
  transform: rotate(-45deg);
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 8% 8% 0;
  overflow: hidden;
}


.home-content {
  max-width: 630px;
}

.home-content h1 {
  font-size: 50px;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 40px;
  color: #1743e3;
}


.home-content p {
  font-size: 16px;
  margin: 15px 0 30px;
  width: 100%;
}


.btn {
  display: inline-block;
  padding: 10px 28px;
  background: #1743e3;
  border: 2px solid #1743e3;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-size: 16px;
  color: #eaeaea;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: .5s;
}

.btn:hover {
  background: transparent;
  color: #1743e3;
}

.home-img img{
  width: 900px;
  height: auto;
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 8% 8% 0;
  overflow: hidden;
}

.about-content {
  max-width: 830px;
}

.about-content h1 {
  font-size: 50px;
  line-height: 1.2;
  color: #222;
}

.about-content h3 {
  padding: 10px 0 0 0;
  font-size: 24px;
  line-height: 1.2;
  color: #1743e3;
}

.about-content p {
  font-size: 16px;
  margin: 15px 0 30px;
  width: 100%;
  color: #555;
}

.about-img {
  text-align: center;
}
.about-img img {
  max-width: 600px;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .contact_content {
  max-width: 800px;
  text-align: center;
}

.contact .contact_content h3 {
  font-size: 36px;
  font-weight: 700;
}

.contact .contact_content p {
  font-weight: 400;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contact_info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.container .contact_info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contact_info .box .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background: #fff;
  border-radius: 50%;
}

.container .contact_info .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
}

.container .contact_info .box .text h3 {
  color: #1743e3;
}

.contact_form {
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 6px;
}

.contact_form h2 {
  font-size: 30px;
  font-weight: 500;
}

.contact_form .input_box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact_form .input_box input, textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact_form .input_box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: .5s;
  color: #666;
}

.contact_form .input_box input:focus ~ span,
.contact_form .input_box input:valid ~ span,
.contact_form .input_box textarea:focus ~ span,
.contact_form .input_box textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact_form .input_box input[type="submit"] {
  width: 100px;
  background: #1743e3;
  border: 2px solid #1743e3;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-size: 16px;
  color: #eaeaea;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: .5s;
  cursor: pointer;
}

.contact_form .input_box input[type="submit"]:hover {
  background: transparent;
  color: #1743e3;
}

@media (max-width: 1660px){
  .header {
    padding: 10px 3%;
    transition: .2s;
  }
}

@media (max-width: 1440px){
  .home-img img {
    width: 130%;
    height: auto;
    transition: .5s;
  }

  .home-content h1 {
    font-size: 35px;
    line-height: 1.1;
    transition: .5s;
  }
  
  .home-content h3 {
    font-size: 25px;
    color: #1743e3;
    transition: .5s;
  }
}

@media (max-width: 1295px){
  .section {
    padding: 0 3%;
  }
  .home-content {
    padding: 115px;
  }
  .home-img {
    text-align: center;
  }
  .home-img img {
    width: 560px;
    height: auto;
    transition: .5s;
  }
  .home, .about {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1100px){
  .header{
    flex-direction: column;
    transition: .1s;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    transition: .1s;
    text-align: center;
  }

  .home-content {
    padding: 400px 0 0;
  }

  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }

  .container .contact_info, .contact_form{
    margin-bottom: 10px;
    width: 100%;
  }
}